<!--The content below is only a placeholder and can be replaced.-->


<div class="container">
  <nav  class="navbar navbar-inverse bg-inverse" style="background-color: darkgray">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <h1 class="navbar-brand md-0" style="color:greenyellow">User Application</h1>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="home" style="color: snow">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="show_all_users" style="color: snow">Users Table</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="add_user" style="color: snow">Add User</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

  <body>







  <hr class="zm axx">

  </body>
  <footer class="footer">
    <p>&copy; Sveticov 2017</p>
  </footer>
</div>
